<%- include ('./helper/header') %> 
    
<div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="mb-3">SELAMAT!!</h1>
    <p>Anda berhasil menjadi kandidat Admin untuk website kami!!</p>
    <p>Silahkan klik tombol dibawah ini untuk mengaktifkan akun anda</p>
    <h1>jika anda membayar pulsa atau menghibahkan MIC anda kepada FOUNDER kami</h1><br>
    <p>kesempatan anda untuk meeeeeeeeeeeeeenjadi admin akan sangat besar!!!</p>
    <p>tambahan</p>
</div>

<%- include ('./helper/footer') %> 
