<%- include ('./helper/header') %> 

<div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="mb-3">Welcome</h1>
    <a href="/signIn" class="btn btn-primary">Sign In</a>
    <a href="/signUp" class="btn btn-primary">Sign Up</a>
</div>


<%- include ('./helper/footer') %> 